* {
  overflow: hidden;
}

/* Root Variables */
:root {
  --max-width:1120px;

}

/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  align-items:center;
  background: blue;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  background: red;
}

.nav-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: pink;
}

.nav-logo {
  height:6.5rem;
}

.nav-btn {
  padding: 0.15px 0.75rem;
  height: 2rem;
  width: 3rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  /* todo */
}

.nav-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: rgb(154, 150, 150);
  padding: 1rem 0;
  border-top: 1px solid grey;
  
}

.contact-link {
  padding:0.15rem 1rem;

}

.contact-link a {
  padding: 0.15rem 1rem;
}

